@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Cervino';
  src: url('/public/fonts/Cervino-BlackNeueItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}